.room-list-item {
    background-color: white;
    border-left: 5px solid #4e426d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.room-list-item .room-indicator {
    width:10px;
    height: 10px;
    background-color: green;
    border-radius: 100%;
}